<div class="row">
  <div class="col s12 l4 offset-l4">
    <div class="card grey lighten-3">
      <div class="card-content">
        <h4 class="card-title center-align">Iniciar Sesión</h4>
        <form [formGroup]="fgValidador" (ngSubmit)="ValidarIdentificacion()">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input formControlName="nombre_usuario" type="email" id="email" class="validate" />
              <label class="active" for="email">Correo Electrónico</label>
              <div *ngIf="ObtenerFgvalidador.nombre_usuario.errors && (ObtenerFgvalidador.nombre_usuario.dirty || ObtenerFgvalidador.nombre_usuario.touched)" class="mensajesValidaciones">
                <strong *ngIf="ObtenerFgvalidador.nombre_usuario.errors.required">Este campo es requerido</strong>
                <strong *ngIf="ObtenerFgvalidador.nombre_usuario.errors.email">Debe cumplir con un formato de correo electrónico</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">vpn_key</i>
              <input formControlName="clave" type="password" id="password" class="validate" />
              <label class="active" for="email">Contraseña</label>
              <div *ngIf="ObtenerFgvalidador.clave.errors && (ObtenerFgvalidador.clave.dirty || ObtenerFgvalidador.clave.touched)" class="mensajesValidaciones">
                <strong *ngIf="ObtenerFgvalidador.clave.errors.required">Este campo es requerido</strong>
                <strong *ngIf="ObtenerFgvalidador.clave.errors.min">Debe tener mínimo 3 caracteres</strong>
              </div>
            </div>
          </div>
          <div class="row center-align">
            <button [disabled]="ObtenerFgvalidador.clave.errors || ObtenerFgvalidador.nombre_usuario.errors" class="btn waves-effect waves-light" type="submit" name="action">Identificar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />