<br>
<br>

<a class="waves-effect waves-light btn" routerLink="/parametros/crear-inmueble"><i class="material-icons left">add</i>Agregar</a>


<table class="table responsive-table">
    <thead>

        <tr>
            <th>
                Codigo
            </th>

            <th>
                identificador
            </th>

            <th>
                valor
            </th>
            
            <th>
                bloque Id
            </th>



            <th>
                Acciones
            </th>
        </tr>

    </thead>
    <tbody>

        <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: regPorPagina, currentPage: pagina }">
            <th>
                {{r.codigo}}
            </th>
            <th>
                {{r.identificador}}
            </th>
            <th>
                {{r.valor}}
            </th>
           
            <th>
                {{r.bloqueId}}
            </th>
            <th>
                <a class="waves-effect orange waves-light btn" routerLink="/parametros/editar-inmueble/{{r.codigo}}"><i class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <a class="waves-effect red waves-light btn" routerLink="/parametros/eliminar-inmueble/{{r.codigo}}"><i class="material-icons left">delete</i>Eliminar</a>
                
            </th>

        </tr>

    </tbody>
</table>

<pagination-controls  (pageChange)="CambioPagina($event)"
                      previousLabel="Anterior"
                      nextLabel="Siguiente">
</pagination-controls>

<br>
<br>
