<footer class="bg-dark text-white">
<div class="container">
  <nav class="row">
    <!--logo-->
    <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center">
      <img src="" alt="">
    </a>
    <!--menu-->
    <ul class="col-3 list-unstyled">
      <li class="font-weight-bold text-uppercase">resource</li>
      <li><a href="#" class="text-reset"></a>link 1</li>
      <li><a href="#" class="text-reset"></a>link 2</li>
      <li><a href="#" class="text-reset"></a>link 3</li>
      <li><a href="#" class="text-reset"></a>link 4</li>
    </ul>
    <!--menu-->
    <!--redes sociales-->
    <ul class="col-3 list-unstyled">
      <li class="font-weight-bold text-uppercase">redes sociales</li>
      <li><a href="#" class="text-reset"></a>link 1</li>
      
    </ul>
  </nav>
</div>
</footer>
