<br>
<br>

<fieldset>
    <legend>Register Form</legend>
    <div class="row">
        <form [formGroup]="fgvalidator" class="col s12" id="reg-form">
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input id="nombres" formControlName="nombres" type="text">
                    <label for="nombres">nombres</label>
                    <div class="warning-validator" *ngIf="fgv.nombres.errors && (fgv.nombres.dirty || fgv.nombres.touched)">
                        <strong *ngIf="fgv.nombres.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.nombres.errors.minlength">
                            This field must be at least {{nombresMinLength}} long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">account_circle</i>
                    <input formControlName="apellido" id="apellido" type="text">
                    <label for="apellido">apellido</label>
                    <div class="warning-validator" *ngIf="fgv.apellido.errors && (fgv.apellido.dirty || fgv.apellido.touched)">
                        <strong *ngIf="fgv.apellido.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.apellido.errors.minlength">
                            This field must be at least 4 long.
                        </strong>
                        <strong *ngIf="fgv.apellido.errors.maxlength">
                            This field must be maximum 14 long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s8">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input formControlName="documento" id="documento" type="text">
                    <label for="documento">documento</label>
                    <div class="warning-validator" *ngIf="fgv.documento.errors && (fgv.documento.dirty || fgv.documento.touched)">
                        <strong *ngIf="fgv.documento.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.documento.errors.minlength">
                            This field must be at least 3 characters long.
                        </strong>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">phone</i>
                    <input formControlName="telefono" id="telefono" type="text">
                    <label for="telefono">telefono</label>
                    <div class="warning-validator" *ngIf="fgv.telefono.errors && (fgv.telefono.dirty || fgv.telefono.touched)">
                        <strong *ngIf="fgv.telefono.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.telefono.errors.minlength">
                            This field must be at least 2 characters long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s4">
                    <select class="browser-default" formControlName="ciudad">
                        <option *ngFor="let ciudad of ListaCiudad">{{ciudad.nombre}}</option>
                    </select>
                    
                </div>

            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">email</i>
                    <input formControlName="correo" id="correo" type="text">
                    <label for="correo">correo</label>
                    <div *ngIf="fgv.correo.errors && (fgv.correo.dirty || fgv.correo.touched)">
                        <strong *ngIf="fgv.correo.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf="fgv.correo.errors.correo">
                            This field must be a correct correo format.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s4">
                    <select class="browser-default" name="tipo de usuario" formControlName="tipo_usuario">
                        <option value="607a19becdfb20143c1fe06d">admin</option>
                        <option value="607a1a43cdfb20143c1fe06e" selected>vendedor</option>
                    </select>
                
                </div>
               
                
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button (click)="UsuarioRegisterFn()" class="btn btn-large btn-register waves-effect waves-light" type="button"
                        name="action">Register
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</fieldset>
<br>
<br>

<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Registrar usuario</h4>
        
        <form [formGroup]="fgvalidator">
        <div class="form-group input-group">
            <div class="input-group-prepend">

                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input formControlName="nombre" name="nombre" class="form-control" placeholder="nombres" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input formControlName="apellido" name="apellido" class="form-control" placeholder="apellidos" type="text">
        </div> 
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input formControlName="nombreso" name="" class="form-control" placeholder="nombreso" type="text">
        </div>
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input formControlName="correo" name="" class="form-control" placeholder="correo electronico" type="correo">
        </div> 
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-apellido"></i> </span>
            </div>
            <select formControlName="codigoPais" class="custom-select" style="max-width: 120px;">
                <option selected="1">+57</option>
                <option value="1">+57</option>
                <option value="2">+198</option>
                <option value="3">+701</option>
            </select>
            <input formControlName="telefono" name="" class="form-control" placeholder="celular" type="text">
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input formControlName="ciudad" name="" class="form-control" placeholder="ciudad" type="text">
            </div>
        </div> 
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input formControlName="tipo_usuario" name="" class="form-control" placeholder="ciudad" type="text">
        </div>
    </div>                                     
        <div class="form-group ">
            <button type="submit" (click)="registroUsuario()" class="btn btn-primary btn-block"> Registrar </button>
        </div>     
        <p class="text-center">Tienes una cuenta? <a routerLink="/seguridad/iniciar-sesion">Logeate</a> </p>                                                                 
    </form>
    </article>
    </div>  -->

  
    

