


<nav>
  <div class="nav-wrapper black">
    <a routerLink="/" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      
      
      <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesión</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="usuario/registro">Registrar usuario</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="clientes/registrar-cliente">Registrar cliente</a></li>

      <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-ciudad">Ciudades</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-proyectos">Proyectos</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-inmueble">Inmuebles</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesión</a></li>
      
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">

  <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesión</a></li>
  <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesión</a></li>
  <li *ngIf="!isLoggedIn"><a routerLink="usuario/registro">Registrarse</a></li>

  <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-ciudad">ciudades</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-proyectos">proyectos</a></li>
  <li *ngIf="isLoggedIn"><a routerLink="parametros/listar-inmueble">inmuebles</a></li>

  
</ul>




<script> $(".button-collapse").sideNav(); </script>




<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-cpu" viewBox="0 0 16 16">
            <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0zm-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3h-7zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
          </svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nuestros servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">contactanos</a></li>
              <li><a class="dropdown-item" href="#">construcciones</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">clientes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/seguridad/iniciar-sesion">iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/usuario/registro">registrarse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">cerrar sesion</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav> -->